body {
    font-family: Arial, Verdana,  sans-serif;
    font-size: 11pt;
    background-color: #f0f0f0;
    color: #333;
    background: url('http://webimg.ru/images/156_1.png') no-repeat 900px 400px;
}
h1 { color: #a6780a;
    font-weight: 600;
    font-size: 30px;
    background-color: RGB(249, 201, 16);}
p {
    color: green;
    border-bottom: 2px solid black;
    line-height: 1.2;
    font-size: 1.5em;
    margin-left: 30mm;
    text-align: justify;
}
.cite {
    color: navy;
    margin-left: 20px;
    border-left: 1px solid navy;
    padding-left: 15px;
}
.gost {
    color: blueviolet;
    font-weight: bold;
}
.term {
    border-bottom: 3px dashed red;
}
table.jewel {
    width: 25%;
    border: 1px solid #666;
}
th {
    background: #009383;
    color: #fff;
    text-align: left;
}
tr.odd {
    background: #ebd3d7;
}
#help {
    position: absolute;
    left: 350px;
    bottom: 130px;
    width: 225px;
    padding: 5px;
    background: #f0f0f0;
}
p#pp {
    color: red;
    border: 1px solid #666;
    background: #eee;
    padding: 5px;
    width: 25%;
}
p b {
    font-family: Times, serif;
    color: mediumspringgreen;
}
b + i {
    color: red;
}
a {
    color: darkorange;
}
.menu {
    padding: 7px;
    border: 1px solid #333;
    background: #fc0;
    width: 200px;
}
.menu a {
    color: darkcyan;
}
h2.sic {
    font-size: 140%;
    color: maroon;
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 5px;
}
h2.sic + P {
    background: #ddd;
    margin-left: 30px;
    margin-top: 0.5em;
    padding: 7px;
}
h1 + h2 {
    margin-top: -10px;
}
h2 + p {
    margin-top: -1em;
}